{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <h1 class="text-center">Welcome to the Application</h1>
        <p class="text-center mt-4">
            Get started by exploring our features. If you have any questions, feel free to reach out to our support team.
        </p>

        <div class="mt-5 text-center">
            <a href="/quote" class="btn btn-primary">Get a Stock Quote</a>
            <a href="/buy" class="btn btn-success">Buy Stocks</a>
        </div>
    </div>
{% endblock %}